/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Fredericka+the+Great&display=swap');

body {
   font-family: 'Lato', sans-serif;
/*    font-size: 1.3em; */
}

h1 {
   font-family: 'Helvetica', cursive;
   text-transform: uppercase;
   font-size:  5.5em;

}

.f1 {
   font-weight: 200;
}
.f2 {
   font-weight: 300;
}
.f3 {
   font-weight: 400;
}
.f4 {
   font-weight: 500;
}
.f5 {
   font-weight: 600;
}
.f6 {
   font-weight: 700;
}
.f7 {
   font-weight: 800;
}
.f8 {
   font-weight: 900;
}

#values {
   grid-area: b;
}

#values a{
   display: inline-flex;
   width: 40%;
   padding: 25px;
   margin: 5px;
   height: auto;
   border: solid 5px black;
   color: darkblue;
   justify-content:center;
   background-color: lightpink;
}
#tutorials {
   grid-area: c;
}

#tutorials a {
   display: inline-flex;
   width: 40%;
   padding: 25px;
   margin: 5px;
   height: auto;
   border: solid 5px black;
   color: darkblue;
   justify-content: center;
   background-color: lightpink;

}

#homework {
   grid-area: d;
}

#homework h2{
   margin-bottom: 20px;
}

#homework a {
   display: inline-flex;
   width: 40%;
   padding: 25px;
   margin: 5px;
   height: auto;
   border: solid 5px black;
   color: darkblue;
   justify-content: center;
   background-color: lightpink;

}

header, section {
    padding: 20px;
    color: orange;
    background-color: lightslategray
}

p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: lightblue;
    padding-top: 40px;
    padding-bottom: 40px;
}
